:root {
  --background-color: #4CAF50;
 /*  --background-gradient: linear-gradient(135deg, #7df187 0%, #81c784 50%, #2e7d32 100%); */
  --header-background-color: #81c784; /* Светлый фон для заголовка */
  --header-text-color: #2e7d32; /* Темный текст для заголовка */
  --link-color: #388e3c; /* Цвет ссылок */
  --text-color: #000000; /* Основной цвет текста */
  --card-background-color: #ffffff; /* Фон карточек */
  --card-text-color: #343a40; /* Текст на карточках */
}

[data-theme="dark"] {
  --background-color: #1b5e20;
/*   --background-gradient: linear-gradient(135deg, #263238 0%, #37474f 50%, #1b5e20 100%); */
  --header-background-color: #37474f; /* Темный фон для заголовка */
  --header-text-color: #ffffff; /* Светлый текст для заголовка */
  --link-color: #81c784; /* Цвет ссылок */
  --text-color: #ffffff; /* Основной цвет текста */
  --card-background-color: #37474f; /* Фон карточек */
  --card-text-color: #c8e6c9; /* Текст на карточках */
}

body {
  background: var(--background-color); /* Применяем градиент как фон */
  color: var(--text-color);
}

.App {
  padding-top: 64px;
  text-align: center;
  /* background: linear-gradient(45deg, #61e787, #7fd8be, #03a64e, #038a3c, #87e6a7); */
  background-color: var(--background-color); 
}

.App-header {
  background-color: var(--header-background-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--header-text-color); 
}

.App-link {
  color: var(--link-color);
}

.card-item {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
}

.my_button_container {
  width: 100%;
}

.my_button {
  margin: 10px 20px !important;
  font-size: 1.3em;
  padding: 10px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px; /* Закругленные края */
  cursor: pointer;
  background-color: var(--background-color);
}
.my_button:hover {
  opacity: 0.8;
}

.primary:hover {
  background-color: rgb(39, 108, 39);
  color: white;
}

.secondary:hover {
  background-color: rgb(224, 93, 93);
  color: white;
}
