:root {
  --primary-color: #4CAF50;
  --secondary-color: #388e3c;
  --link-color: #388e3c; 
  --text-color: #000000; 
  --card-background-color: #ffffff;
  --card-text-color: #343a40; 
  --input-background-color: #ffffff;
  --input-text-color: #000000; 
  --input-border-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #567498;
  --secondary-color: #81c784;
  --text-color: #ffffff; 
  --card-background-color: #37474f; 
  --card-text-color: #c8e6c9; 
  --input-background-color: #25363e; 
  --input-text-color: #ffffff; 
  --input-border-color: #ffffff; 
}

body {
  background: var(--primary-color); 
  color: var(--text-color);
}

.App {
  padding-top: 10vh;
  text-align: center;
  background-color: var(--primary-color); 
  padding-bottom: 10vh;
}

.my_input{
  border-radius:50px;
  background-color: var(--input-background-color); 
  color: var(--input-text-color);
  padding: 10px 15px;
  font-size: 1em;
  margin-bottom: 15px;
 }

 
.card-item {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-detail {
  max-width: 500px;
  margin: 0 auto;
}

.card-detail img {
  margin: 0 auto;
  width: 100%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button img {
  width: 35px;
  height: 35px;
}

.my_button_container {
  width: 100%;
}

.my_button {
  margin: 15px 20px !important;
  font-size: 1.3em;
  padding: 10px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px; 
  cursor: pointer;
  background-color: var(--primary-color);
}

.my_button:hover {
  opacity: 0.8;
}

.primary:hover {
  background-color: var(--secondary-color);
  color: white;
}

.secondary:hover {
  background-color: rgb(224, 93, 93);
  color: white;
}

.successfulMess, .error-popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745; 
  color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5em;
  z-index: 1000;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

