.my_navbar {
  background: linear-gradient(45deg, #038a3c, #61e787);
  border-radius: 40px;
  position: fixed !important;
  top: 0 !important;
  z-index: 10000;
}

.my_navbar .MuiButtonBase-root {
  color: white;
}

.my_navbar .MuiTypography-root {
  color: inherit;
  text-decoration: none;
}