:root {
  --background-gradient-light: linear-gradient(135deg, #74c285, #0f9b0f);
  --background-gradient-dark: linear-gradient(135deg, #1e3c72, #2a5298);
  --popup-background-color: #ffffff;
  --popup-text-color: #000000;
}

[data-theme="dark"] {
  --background-gradient: var(--background-gradient-dark);
  --popup-background-color: #25363e;
  --popup-text-color: #ffffff;
}

.my_container {
  background: var(--background-gradient);
  padding: 15px;
  font-family: "Nothing You Could Do", cursive !important; 
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .my_container h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.phone-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--popup-background-color);
  color: var(--popup-text-color); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.phone-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-popup-content button {
  margin-top: 10px;
  background: green;
}