
:root {
  --input-background-color: #ffffff; /* Светлый фон для полей ввода */
  --input-text-color: #000000; /* Темный текст для полей ввода */
  --input-border-color: #000000; /* Цвет границы для полей ввода */
}

[data-theme="dark"] {
  --input-background-color: #37474f; /* Темный фон для полей ввода */
  --input-text-color: #ffffff; /* Светлый текст для полей ввода */
  --input-border-color: #ffffff; /* Цвет границы для полей ввода */
}

.my_login_container {
height: 100vh;  
margin: 100px 25% ;
}

.login-container {
  padding: 15px;
  min-height: 100vh;
  font-family: "Arial, sans-serif";
  margin-top: 20px;
}

.login-container h2 {
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--input-text-color);
  margin-top: 40px;
  margin-bottom: 20px;
}

.my_input{
 border-radius:50px;
 background-color: var(--input-background-color); /* Фон для полей ввода */
 color: black;
 border: 1px solid var(--input-border-color); /* Граница */
 padding: 10px 15px; /* Внутренний отступ */
 font-size: 1em; /* Размер шрифта */
 margin-bottom: 15px;
}
.my_input .MuiInputBase-input {
  color: black;
}



.successfulReg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745; /* Green background */
  color: white; /* White text */
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5em;
  z-index: 1000;
}

.error-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cc7f79; /* Red background */
  color: white; /* White text */
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5em;
  z-index: 1000;
}

.error-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
