.my_registration_container {
  margin: 0 4vw;
}

.registration-container h2 {
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--input-text-color);
  margin-top: 20px;
  margin-bottom: 20px;
}


.my_checkbox {
  color: #f5f7f5;
  font-size: 25px;
}

.my_checkbox .Mui-checked {
  color: #3a3f3b;
}
